body {
  text-align: center !important;
  background-color: rgba(1, 255, 255, 0.925) !important;
  font-weight: 500 !important;
}

div {
  display: inline-flex;
}

table {
  margin-top: 10%;
}

td {
  border: 1px solid #1e2125 !important;
  padding: 10px;
}
h1 {
  font-family: "Tilt Neon", cursive;
  margin-top: 50px !important;
  font-size: 50px !important;
}
