body {
  text-align: center;
  color: rgb(93, 7, 241);
  background-color: black;
}

div {
  display: inline-block;
}

#table {
  display: block;
  margin-top: 20px;
}
th,
td {
  border: 5px solid rgb(15, 247, 38);
  padding: 50px;
}
td:hover {
  color: white;
  background-color: rgb(93, 7, 241);
  border: 5px solid rgb(93, 7, 241);
  box-shadow: white 0px 5px 15px;
}
